<div class="contact-form">
    <section id="contact">
        <div class="section-content">
            <h1 class="section-header">Чтобы сделать заказ:</h1>
            <ol>
                <li>Заполните форму заказа, напишите или позвоните нам. Просто расскажите, что вам требуется.</li>
                <li>Обсудите все нюансы проекта с менеджером. Наш эксперт свяжется с вами в ближайшее время после получения заявки.</li>
                <li>Подпишите договор и сделайте предоплату. Мы подготовим все документы и отправим вам на согласование.</li>
            </ol>
        </div>
        <div class="contact-section">
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col form-line">
                            <div class="form-group">
                                <label for="exampleInputUsername">Ваше Имя</label>
                                <input type="text" class="form-control" id="" placeholder="Введите Ваше имя">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail">Ваша почта</label>
                                <input type="email" class="form-control" id="exampleInputEmail" placeholder="Введите Ваш Email">
                            </div>
                            <div class="form-group">
                                <label for="telephone">Номер телефона</label>
                                <input type="tel" class="form-control" id="telephone" placeholder="+7(999)999-99-99">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="description">Пожелания</label>
                                <textarea class="form-control" id="description" placeholder="Опишите Ваши пожелания"></textarea>
                            </div>
                            <div>
                                <button type="button" class="btn btn-outline-light btn-lg submit">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Отправить заявку</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
