<div class="parallax">
    <section class="sec1"></section>
    <section class="secText">
        <h1>Любая сложность!</h1>
        <p>Наша специализация — создание веб-сайтов с нуля под ваши требования и техническая поддержка интернет проектов. Мы ведем разработку с использованием современных систем управления сайтами, например, 1C-Битрикс, UMI CMS и др. Для нестандартных проектов и веб-приложений используем Yii Framework 2.0.</p>
    </section>

    <section class="sec2"></section>
    <section class="secText">
        <h1>Клёвый дизайн</h1>
        <p> Процесс разработки дизайна в нашей студии состоит из четко регламентированных этапов, это позволяет нам почти гарантированно попасть в ваши ожидания, а зачастую превзойти их. Мы систематически применяем брейнштормы и креативные методики, аккуратно собираем образы и строим визуальный бриф. Мы готовим скетчи и прототипы и вовлекаем заказчиков на самых ранних этапах. У нас построена многоступенчатая процедура тестирования макетов на живых людях до демонстрации макета вам. Мы придумываем фишки и готовы обосновать почти каждый пиксель по дизайну. </p>
    </section>

    <section class="sec3"></section>
    <section class="secText">
        <h1>Прозрачность и комфорт</h1>
        <p> Мы непрерывно улучшаем наши процессы разработки, чтобы сделать вашу работу с нами наиболее комфортной. Ключом к комфортной работе мы считаем полную предсказуемость нашего процесса (вам всегда понятно, что и за чем идет, без сюрпризов и выкрутасов). Именно поэтому мы описали его так подробно. На старте проекта мы с вами составляем таймлайн, где обозначаем ключевые вехи разработки, четко прописываем — кто, кому, что и когда должен. Это позволяет точно спрогнозировать сроки запуска готового сайта, запланировать ваши действия по проекту и пресечь неожиданности </p>
    </section>

    <section class="sec4"></section>
    <section class="secText">
        <h1>В начале работы...</h1>
        <p>Разработка технического задания и оптимальной структуры сайта. До начала работы руководитель проекта подробно обсудит с вами все нюансы и предложит варианты структуры. На основе этой структуры мы сможем приступить к прототипированию вашего проекта. Мы делаем это не из желания действовать на нервы, а потому что любим выращивать интернет-проекты, которые не просто работают и приносят прибыль владельцам, но и полностью соответствуют ожиданиям Заказчика или превосходят их. Мы с гордостью добавляем такие в портфолио, пишем о них в блоге и выставляем на конкурсах.</p>
    </section>
</div>
